version: 2
updates:
  - package-ecosystem: gomod
    directory: /
    schedule:
      interval: daily
    assignees:
      - AppleGamer22
    reviewers:
      - AppleGamer22
    commit-message:
      prefix: chore
    labels:
      - dependencies
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: daily
    assignees:
      - AppleGamer22
    reviewers:
      - AppleGamer22
    commit-message:
      prefix: chore
    labels:
      - dependencies