{
	"singleQuote": false,
	"trailingComma": "all",
	"tabWidth": 4,
	"arrowParens": "avoid",
	"useTabs": true,
	"semi": true,
	"overrides": [
		{
			"files": ["*.yml", "*.yaml"],
			"options": {
				"tabWidth": 2,
				"useTabs": false
			}
		}
	]
}
