name: Test
on:
  pull_request:
    types:
      - opened
      - closed
      - reopened
  workflow_dispatch:
    inputs: {}
jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os:
          # - ubuntu-latest
          - macos-latest
          - windows-latest
    runs-on: ${{matrix.os}}
    steps:
      - name: Pull Source Code
        uses: actions/checkout@v3.0.2
      - name: Install Linux-only Dependencies
        if: matrix.os == 'ubuntu-latest'
        run: |
          # sudo apt install -y ubuntu-desktop-minimal
          # sudo systemctl isolate graphical
          # sudo systemctl start gdm3
      - name: Set-up Go
        uses: actions/setup-go@v3.2.1
        with:
          go-version: "1.17.7"
      - name: Test
        run: make test
